@import "tailwindcss";
* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  border-color: #e5e7eb;
}

a.active hr {
  display: block;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
